* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    background:
        linear-gradient(
            135deg,
            #0f0f0f,
            #1a0033,
            #000000
        );

    font-family:
        Arial,
        sans-serif;

    color: white;

    display: flex;
    justify-content: center;

    padding: 40px 20px;
}

.container {
    width: 100%;
    max-width: 900px;
}

h1 {
    text-align: center;

    margin-bottom: 10px;

    font-size: 42px;

    color: white;

    text-shadow:
        0 0 20px rgba(153,69,255,0.8);
}

.date {
    text-align: center;

    color: #aaaaaa;

    margin-bottom: 25px;
}

.card {
    background: #161616;

    border-radius: 20px;

    padding: 30px;

    box-shadow:
        0 0 25px rgba(153,69,255,0.35);
}

h2 {
    color: #14F195;

    margin-top: 25px;
    margin-bottom: 10px;
}

h2:first-child {
    margin-top: 0;
}

p {
    color: #dddddd;

    line-height: 1.7;

    margin-bottom: 15px;
}
